<a href="https://colab.research.google.com/github/mafiTec/Natural-Language-Processing/blob/main/Content_Based_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Building a Movie Content Based Recommendation System

In [1]:
import pandas as pd
import numpy as np

In [2]:
#https://www.kaggle.com/tmdb/tmdb-movie-metadata

credits = pd.read_csv("/content/drive/MyDrive/Step 4-3 NLP03_Recommendation System/tmdb_5000_credits.csv")
movies_df = pd.read_csv("/content/drive/MyDrive/Step 4-3 NLP03_Recommendation System/tmdb_5000_movies.csv")

In [3]:
credits.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 4 columns]

In [4]:
movies_df.head(2)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500

[2 rows x 20 columns]

In [5]:
#Printing Dimension of datasets

print("Credits:",credits.shape)
print("Movies Dataframe:",movies_df.shape)

Credits: (4803, 4)
Movies Dataframe: (4803, 20)

In [6]:
#Merging movie dataset with credit

credits_column_renamed = credits.rename(index=str, columns={"movie_id": "id"})
movies_df_merge = movies_df.merge(credits_column_renamed, on='id')
movies_df_merge.head(2)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 23 columns]

In [7]:
#Dropping unnecessary features

movies_cleaned_df = movies_df_merge.drop(columns=['homepage', 'title_x', 'title_y', 'status','production_countries'])
movies_cleaned_df.head(2)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 18 columns]

In [8]:
# Showing datatypes of the columns
movies_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_companies  4803 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   object
 17  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 712.9+ KB

# Content Based Recommendation System¶
Now lets make a recommendations based on the movie’s plot summaries given in the overview column. So if our user gives us a movie title, our goal is to recommend movies that share similar plot summaries.

In [9]:
movies_cleaned_df['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [10]:
#Converting text(overview) to vector using TF-Idf

from sklearn.feature_extraction.text import TfidfVectorizer


tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

# Filling NaNs with empty string
movies_cleaned_df['overview'] = movies_cleaned_df['overview'].fillna('')

# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(movies_cleaned_df['overview'])
tfv_matrix

<4803x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 127220 stored elements in Compressed Sparse Row format>

In [11]:
print(tfv_matrix.shape)
print("*"*70)
tfv_matrix.toarray()

(4803, 10417)
**********************************************************************

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [12]:
# compute similarity between all products using SciKit Learn's cosine_similarity

from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine_similarity
cosine_sim = cosine_similarity(tfv_matrix, tfv_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02405178, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.0173424 , 0.        ,
        0.00981313],
       ...,
       [0.        , 0.02405178, 0.0173424 , ..., 1.        , 0.01672279,
        0.0141502 ],
       [0.        , 0.        , 0.        , ..., 0.01672279, 1.        ,
        0.01137347],
       [0.        , 0.        , 0.00981313, ..., 0.0141502 , 0.01137347,
        1.        ]])

In [13]:
# find indices for movie's title
indices = pd.Series(movies_cleaned_df.index, index=movies_cleaned_df['original_title']).drop_duplicates()
indices[:20]

original_title
Avatar                                          0
Pirates of the Caribbean: At World's End        1
Spectre                                         2
The Dark Knight Rises                           3
John Carter                                     4
Spider-Man 3                                    5
Tangled                                         6
Avengers: Age of Ultron                         7
Harry Potter and the Half-Blood Prince          8
Batman v Superman: Dawn of Justice              9
Superman Returns                               10
Quantum of Solace                              11
Pirates of the Caribbean: Dead Man's Chest     12
The Lone Ranger                                13
Man of Steel                                   14
The Chronicles of Narnia: Prince Caspian       15
The Avengers                                   16
Pirates of the Caribbean: On Stranger Tides    17
Men in Black 3                                 18
The Hobbit: The Battle of the Five Armies      19
dtype: int64

In [14]:
#function to find the top 10 recommanded movies

def give_rec(title, sim=cosine_sim):
    
    # Get the index corresponding to original_title
    idx = indices[title]

    # Get the pairwsie similarity scores 
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Top 10 most similar movies
    return movies_cleaned_df['original_title'].iloc[movie_indices]

In [15]:
# Testing our content-based recommendation system 
give_rec('Avatar')

1341                Obitaemyy Ostrov
634                       The Matrix
3604                       Apollo 18
2130                    The American
775                        Supernova
529                 Tears of the Sun
151                          Beowulf
311     The Adventures of Pluto Nash
847                         Semi-Pro
942                 The Book of Life
Name: original_title, dtype: object